*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #0a192f;
}

.container{
    /* border: 1px solid white; */
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#myText{
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    font-size: 20px;
    letter-spacing: 1px;
    background-color: #172a46;
    padding: 10px 15px;
    color: #a8b2d1;
    line-height: 30px;
    border-radius: 5px;
    /* overflow: hidden; */
}

.result-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p{
    color: aliceblue;
    letter-spacing: 2px;
    /* text-align: right; */
    margin: 10px 0px ;
    font-size: 20px;
    font-weight: 600;
}
