@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&family=Open+Sans&family=Poppins:wght@200;300;400;500;600;700;900&display=swap');

*,*::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
    list-style: none;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 32px;
    /* overflow-x: hidden; */
}

img {
    width: 100%;
}

body {
    background-color: #fff;
}

/* section,
footer{
    padding: 40px 5%;
} */

*::selection{
    color: #fff;
    background-color: #138065;
}

::-webkit-scrollbar{
    width: 8px;
    background-color: #138065;
}

::-webkit-scrollbar-thumb{
    width: 8px;
    background-color: #0abb8f ;
    border-radius: 10px;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px 30px;
    transition: 0.5s;

}



.logo{
    font-size: 32px;
    color: #138065;
    /* gap: 20px; */
}

.logo i{
    margin-right: 20px;
}

#menu{
    font-size: 24px;
    cursor: pointer;
    z-index: 10002;
    display: none;
}

.navbar{
    display: flex;
    column-gap: 20px;
}

.navbar a{
    font-size: 20px;
    font-weight: 600;
    color: #000;
    padding: 8px 16px;
    text-transform: uppercase;
}

.navbar a:hover{
    /* background-color: #138065;
    color: #fff; */
    border-bottom: 4px solid #138065;
    /* transition: border 0.2s; */
    letter-spacing: 1px;
}

.container {
    line-height: 1.6;
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 100px;
}

.carousel{
    width: 100%;
    height: 85vh;
    position: relative;
    margin-bottom: 100px;

}
.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide img{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.slide[data-active]{
    opacity: 1;
    transition-delay: 0;
}

.carousel ul{
    margin: 0;
    padding: 0;
}

.carousel i{
    position: absolute;
    z-index: 2;
    font-size: 42px;
    font-weight: bolder;
    top: 60%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .3) ;
    padding: 15px;
    border-radius: 10px;
}

.carousel .left{
    left: 16px;
}
.carousel .right{
    right: 16px;
}


.carousel i:hover,
.carousel i:focus{
    color: #fff;
    background-color: rgba(0, 0, 0, .2);
}

.carousel i:focus{
    outline: 4px solid black;
}

.info{
    background-color: rgba(0, 0, 0, .8);
    /* background-color: #fff; */
    background: transparent;
    width: 100%;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
}

.heading {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin: 40px 0 60px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.info h1{
    color: #fff;
    font-size: 45px;
    font-weight: bolder;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    gap: 20px;
}

#search-input {
    width: 70%;
    max-width: 700px;
    padding: 15px 20px;
    font-size: 18px;
    color: #000;
    border-radius: 8px;
    border: none;
    /* box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

input::placeholder{
    /* font-size: 32px */
    color: #bfbfbf;
}

#search-btn {
    padding: 15px 20px;
    background-color: #138065;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    /* box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 15px 20px; */
    /* margin-bottom: 30px; */
}


.search-results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.search-result {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 10px; */
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.search-result img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    transition: opacity 0.2s ease-in-out;
}

.search-result:hover img {
    opacity: 0.8;
}

.search-result a {
    padding: 10px 20px;
    color: #000;
    display: block;
    font-size: 20px;
    font-weight: 600px;
    text-transform: capitalize;
    text-align: justify;
    transition: color 0.2s ease-in-out;
}

.search-result a:hover {
    color: #138065;
}

#showmore-btn {
    background-color: #008cba;
    padding: 10px 20px;
    margin: 30px auto;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    display: block;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    display: none;
}

.categories{
    line-height: 1.6;
    max-width: 1700px;
    margin-left: auto;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 50px;
}

.categories-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.categories-box{
    /* width: 400px; */
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.categories-box img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    transition: opacity 0.2s ease-in-out;
}

.categories-box:hover img{
    opacity: 0.8;
}

.categories-box h2{
    padding: 10px 20px;
    color: #000;
    display: block;
    font-size: 20px;
    font-weight: 600px;
    text-transform: capitalize;
    text-align: justify;
}

#next-btn{
    background-color: #008cba;
    padding: 10px 20px;
    margin: 30px 30px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    /* display: block;/ */
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    /* display: none; */
}

.box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-left: 40%; */
    padding-bottom: 20px;
}

.box h1{
    padding: 20px 30px;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: left;
}

/* about */
.about{
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, auto));
    /* background-color: #f0ece6; */
    padding: 30px;
    gap: 50px;
}

.about img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.about-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    text-transform: capitalize;
}

.about-text h2{
    text-align: center;
    font-size: 34px;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #138065;
    font-weight: 700;
    margin-bottom: 16px;
}

.about-text p{
    font-size: 24px;
    color: #000;
    margin: 8px 0 16px;
    text-align: justify;
    text-transform: lowercase;
}

.contact{
    margin: 50px auto 30px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.social a{
    font-size: 27px;
    margin: 8px;
}

.social a i{
    text-align: center;
    padding: 5px;
    color: #fff;
    background-color: #000000;
    border-radius: 50%;
}

.social a i:hover{
    background-color: #138065;
}

.contact p{
    font-size: 20px;
    text-align: center;
    color: #008148;
    margin: 16px 0;
}


/* categories.html */

.displayCategories{
    line-height: 1.6;
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 50px;
}

#more-categories{
    background-color: #008cba;
    padding: 10px 20px;
    margin: 30px auto;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    display: block;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    /* display: none; */
}

@media (max-width:1256px) {
    .container,
    .categories ,
    .displayCategories{
        padding: 25px;
    }

    .search-results ,
    .categories-container,
    .categoriesResult{
        grid-template-columns: repeat(auto-fit, minmax(300px, auto))
    }
}

@media (max-width:1005px) {
    .search-results ,
    .categories-container,
    .categoriesResult{
        grid-template-columns: repeat(auto-fit, minmax(250px, auto))
    }
}

@media(max-width:800px){
    .about{
        grid-template-columns: repeat(auto-fit, minmax(14rem, auto));
    }

    .about img{
        order: 2;
    }
}

@media (max-width:750px) {

    #menu{
        display: initial;
    }

    .navbar{
        position: absolute;
        top: -570px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        box-shadow: 4px 4px 0 4px rgba(14 55 54 / 14%);
        text-align: left;
        background-color: #138065;
    }

    .navbar a{
        padding: 8px;
        margin: 8px;
        display: block;
        color: #fff;
    }

    .navbar a:hover{
        border-bottom: 1px solid #fff;
    }

    .navbar.active{
        top: 100%;
    }
    #search-input {
        width: 55%;
        max-width: 450px;
    }


}


@media (max-width:585px) {
    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 60px;
        gap: 20px;
    }

    .carousel{
        height: 90vh;
    }

    .carousel i{
        font-size: 28px;
        top: 60%;
    }

    .info{
        top: 45%;
    }

    .info h1{
        font-size: 40px;
    }
    .carousel{
        height: 90vh;
    }

    #search-input {
        width: 90%;
        max-width: 350px;
        border-bottom: 4px solid #138065;
    }

    .search-results ,
    .categories-container,
    .categoriesResult{
        grid-template-columns: repeat(auto-fit, minmax(200px, auto))
    }
}

@media (max-width:452px) {
    
    .container h1,
    .box h1,
    .about-text h2 {
        font-size: 30px;
    }

    .box{
        flex-direction: column;
    }

    .heading{
        font-size: 28px;
        margin: 10px 0 45px;
    }


    .categories h1{
        font-size: 28px;
    }

    .search-results,
    .categories-container,
    .categoriesResult {
        grid-template-columns: repeat(auto-fit, 100%)
    }

}