*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    overflow: hidden;

}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d212b;
    /* background-color: thistle; */
}

