.body{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container{
    width: 500px;
    border: 1px solid green;
    padding: 10px 20px 20px 20px;
    /* margin: 150px  0px 900px 650px; */
    margin-top: 150px;
    margin-left: 680px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    flex-wrap: wrap;
}

.name{
    text-align: center;
    color: green;
    /* margin: 0px; */
}

.name h3{
    width: 450px;
    margin-left: 25px;
    text-align: center;
}
.description{
    /* text-align: center; */
    color: green;
}

form{
    display: flex;
    align-items: flex-start;
    flex-direction: column;

}

form label{
    font-size: 25px;
    font-weight: 600;
    margin-left: 20px;
    color: green;
}

form input{
    text-align: center;
    width: 450px;
    height: 20px;
    font-size: 20px;
    padding: 7px;
    outline: none;
    margin: 20px 0px 20px 20px;
}


.btn{
    /* width: 450px;
    height: 20px; */
    width: 200px;
    height: 35px;
    text-align: center;
    margin-left: 150px;
    font-size: 20px;
    font-weight: 500;
    line-height: 2px;
    margin-top: 10px;
    background-color: green;
    color: white;
}

.total{
    margin-left: 20px;
    float: left ;
    font-size: 25px;
    font-weight: 600;
    color: green;
}
