*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: thistle;
}

img{
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 0 35px;
}

.wrapper{
    max-width: 1200px ;
    position: relative;
}

.wrapper i{
    width: 46px;
    height: 46px;
    font-size: 20px;
    font-weight: 600;
    line-height: 46px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
    color: black;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.wrapper i:first-child{
    left: -23px;
}

.wrapper i:last-child{
    right: -23px;
}

.wrapper .carousel{
    white-space: nowrap;
    cursor: pointer;
    font-size: 0px;
    overflow: hidden;
}



.carousel img{
    height: 350px;
    width: calc(100% / 3);
    object-fit: cover;
    margin-left: 10px;
}

.carousel img:first-child{
    margin-left: 0;
}
/* .carousel::before,
.carousel::after{
    content: '';
} */

